In [42]:
import pandas as pd
import numpy as np

In [43]:
data=pd.read_excel("Jun 5th flight searches.xlsx")

In [44]:
data.head()

,wsID,wsDate,wsReq,wsResCt,wsError,wsTime,source,trIP,dept,dest,...,afid,aid,trno,live_price,result_ip,conf,client_ip,Airlines,lower_price,device_id
0,1429199628,2019-06-05 16:10:21.517,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.245,SDQ,JFK,...,26,136,0,N,54.173.135.178,NaN,NaN,NaN,0,NaN
1,1429199620,2019-06-05 16:10:21.487,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.244,SJO,MEX,...,26,136,0,N,52.1.239.22,NaN,NaN,NaN,0,NaN
2,1429199585,2019-06-05 16:10:21.130,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,185.6.168.243,ZRH,NYC,...,26,136,0,N,52.201.73.182,NaN,NaN,NaN,0,NaN
3,1429199570,2019-06-05 16:10:20.997,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.246,SIN,DEL,...,26,136,0,N,52.4.108.218,NaN,NaN,NaN,0,NaN
4,1429199560,2019-06-05 16:10:20.917,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,185.6.168.243,PAR,ZRH,...,26,136,0,N,52.201.73.182,NaN,NaN,NaN,0,NaN

In [45]:
data.columns

Index(['wsID', 'wsDate', 'wsReq', 'wsResCt', 'wsError', 'wsTime', 'source',
       'trIP', 'dept', 'dest', 'depDate', 'retDate', 'Adult', 'Child',
       'Infant', 'CabinClass', 'Aircode', 'JType', 'DFlights', 'afid', 'aid',
       'trno', 'live_price', 'result_ip', 'conf', 'client_ip', 'Airlines',
       'lower_price', 'device_id'],
      dtype='object')

In [46]:
d=data.iloc[:,1:13]

In [47]:
d.head()

,wsDate,wsReq,wsResCt,wsError,wsTime,source,trIP,dept,dest,depDate,retDate,Adult
0,2019-06-05 16:10:21.517,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.245,SDQ,JFK,2019-07-03,2019-08-04,1
1,2019-06-05 16:10:21.487,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.244,SJO,MEX,2019-06-24,2019-06-27,1
2,2019-06-05 16:10:21.130,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,185.6.168.243,ZRH,NYC,2019-06-06,2019-06-11,1
3,2019-06-05 16:10:20.997,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.246,SIN,DEL,2019-06-26,2019-06-30,2
4,2019-06-05 16:10:20.917,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,185.6.168.243,PAR,ZRH,2019-06-06,2019-06-12,1

In [8]:
len(d["dept"].unique())

810

In [9]:
len(d["dest"].unique())

1060

In [10]:
def gif(x,y):
    return(x-y)

In [ ]:
#data['route'] = data[['dept', 'dest']].apply(lambda x: '-'.join(x), axis=1)

In [27]:
d["weneed"]=d["dept"]+"-" +d["dest"]

In [28]:
d.head()

,wsDate,wsReq,wsResCt,wsError,wsTime,source,trIP,dept,dest,depDate,retDate,Adult,weneed
0,2019-06-05 16:10:21.517,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.245,SDQ,JFK,2019-07-03,2019-08-04,1,SDQ-JFK
1,2019-06-05 16:10:21.487,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.244,SJO,MEX,2019-06-24,2019-06-27,1,SJO-MEX
2,2019-06-05 16:10:21.130,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,185.6.168.243,ZRH,NYC,2019-06-06,2019-06-11,1,ZRH-NYC
3,2019-06-05 16:10:20.997,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,208.94.136.246,SIN,DEL,2019-06-26,2019-06-30,2,SIN-DEL
4,2019-06-05 16:10:20.917,NaN,0,<FlightJourneyAvailabilityResponse>No fares</F...,0,NaN,185.6.168.243,PAR,ZRH,2019-06-06,2019-06-12,1,PAR-ZRH

In [30]:
d["weneed"].value_counts().head()

BOG-MIA    35
YYZ-HAV    28
MNL-LAX    24
MIA-LIM    19
KIN-FLL    19
Name: weneed, dtype: int64

In [36]:
d.dtypes

wsDate     datetime64[ns]
wsReq             float64
wsResCt             int64
wsError            object
wsTime              int64
source            float64
trIP               object
dept               object
dest               object
depDate    datetime64[ns]
retDate    datetime64[ns]
Adult               int64
weneed             object
dtype: object

In [48]:
!pip uninstall tensorflow-gpu
!pip install --upgrade tensorflow-gpu==1.8.0

Skipping tensorflow-gpu as it is not installed.

Collecting tensorflow-gpu==1.8.0
  Downloading https://files.pythonhosted.org/packages/42/a8/4c96a2b4f88f5d6dfd70313ebf38de1fe4d49ba9bf2ef34dc12dd198ab9a/tensorflow_gpu-1.8.0-cp36-cp36m-win_amd64.whl (88.9MB)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (1.12.0)
Requirement already satisfied, skipping upgrade: astor>=0.6.0 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (0.7.1)
Requirement already satisfied, skipping upgrade: protobuf>=3.4.0 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (3.7.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (1.16.2)
Requirement already satisfied, skipping upgrade: absl-py>=0.1.6 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (0.7.1)
Requirement already satisfied, skipping upgrade: grpcio>=1.8.6 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (1.16.1)
Collecting tensorboard<1.9.0,>=1.8.0 (from tensorflow-gpu==1.8.0)
  Downloading https://files.pythonhosted.org/packages/59/a6/0ae6092b7542cfedba6b2a1c9b8dceaf278238c39484f3ba03b03f07803c/tensorboard-1.8.0-py3-none-any.whl (3.1MB)
Requirement already satisfied, skipping upgrade: gast>=0.2.0 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (0.2.2)
Requirement already satisfied, skipping upgrade: termcolor>=1.1.0 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (1.1.0)
Requirement already satisfied, skipping upgrade: wheel>=0.26 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorflow-gpu==1.8.0) (0.33.1)
Requirement already satisfied, skipping upgrade: setuptools in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from protobuf>=3.4.0->tensorflow-gpu==1.8.0) (40.8.0)
Requirement already satisfied, skipping upgrade: werkzeug>=0.11.10 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorboard<1.9.0,>=1.8.0->tensorflow-gpu==1.8.0) (0.14.1)
Requirement already satisfied, skipping upgrade: html5lib==0.9999999 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorboard<1.9.0,>=1.8.0->tensorflow-gpu==1.8.0) (0.9999999)
Requirement already satisfied, skipping upgrade: bleach==1.5.0 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorboard<1.9.0,>=1.8.0->tensorflow-gpu==1.8.0) (1.5.0)
Requirement already satisfied, skipping upgrade: markdown>=2.6.8 in c:\users\sreekar chidurala\anaconda3\envs\sreekarr\lib\site-packages (from tensorboard<1.9.0,>=1.8.0->tensorflow-gpu==1.8.0) (3.1)
Installing collected packages: tensorboard, tensorflow-gpu
  Found existing installation: tensorboard 1.13.1
    Uninstalling tensorboard-1.13.1:
      Successfully uninstalled tensorboard-1.13.1

tensorflow 1.13.1 has requirement tensorboard<1.14.0,>=1.13.0, but you'll have tensorboard 1.8.0 which is incompatible.
Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\sreekar chidurala\\Anaconda3\\envs\\sreekarr\\Lib\\site-packages\\tensorflow\\python\\_pywrap_tensorflow_internal.pyd'
Consider using the `--user` option or check the permissions.

In [39]:
a=[1,2,3]
b=[3,4,9]

In [41]:
list(map(lambda x,y : y-x,a,b))

[2, 2, 6]